body {
  padding: 10px;
  min-width: 180px;
  background-color: #202123;
  font-family: sans-serif;
  color: #DADADA;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toggle-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle_button {
  height: 20px;
  width: 43px;
  position: relative;
}

.toggle_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.toggle_label {
  background: #ccc;
  border-radius: 10px;
  display: inline-block;
  height: 20px;
  position: relative;
  transition: 0.3s;
  width: 43px;
  box-sizing: border-box;
}

.toggle_label:after {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s;
  width: 20px;
  z-index: 2;
}

.toggle_input:checked+.toggle_label {
  background-color: #4BD865;
}

.toggle_input:checked+.toggle_label:after {
  left: 23px;
}

.message {
  font-size: 14px;
  line-height: 1.4;
}

.settings-link {
  font-size: 13px;
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 auto;
}

.settings-link:hover {
  color: #4BD865;
}

.external-icon {
  font-size: 16px;
  opacity: 0.7;
  font-weight: bold;
}
